@import "tailwindcss";

@import "../fonts/font.css";

:root {
  --color-primary: rgba(35, 30, 84, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-txt-grey: rgba(65, 70, 81, 1);
  --color-input: rgba(89, 89, 89, 1);
  --color-success: rgba(33, 150, 83, 1);
  --color-online: rgba(23, 178, 106, 1);
  --color-offline: rgba(255, 77, 79, 1);
  --color-pagination: rgba(37, 43, 55, 1);

  --color-toast-success: rgba(63, 184, 93, 1);
  --color-toast-error: rgba(255, 77, 79, 1);
  --color-toast-warning: rgba(250, 173, 20, 1);
}

body {
  margin: 0;
  border: 0;
  overflow-x: hidden;
  font-family: var(--lato-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-right: 0.5rem;
  }
}

.input-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  label {
    color: var(--color-txt-grey);
    margin-bottom: 5px;
    font-weight: 500;
    font-size: clamp(0.75rem, 1.5vw, 0.85rem);
  }
  input {
    border-color: rgba(213, 215, 218, 1);
    height: 44px;
    color: var(--color-input);
    font-weight: 500;
    font-family: var(--lato-regular);
    &::placeholder {
      color: var(--color-input);
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(35, 30, 84, 0.1);
      border-color: rgba(213, 215, 218, 1);
    }
    &:hover {
      border-color: rgba(35, 30, 84, 0.1);
    }
    &.error {
      border: 1px solid var(--color-toast-error);
    }
  }
  .ant-input-password {
    border-color: rgba(213, 215, 218, 1);
    background-color: rgba(250, 250, 250, 1);
    padding: 0px 11px;
    &:focus-within {
      box-shadow: 0 0 0 2px rgba(35, 30, 84, 0.1);
    }
    &.error {
      border: 1px solid var(--color-toast-error);
    }
    &:hover {
      border-color: rgba(213, 215, 218, 1);
    }
  }
  .input-info {
    color: var(--color-input);
    font-size: clamp(0.75rem, 1.5vw, 0.85rem);
    margin-top: 2px;
  }
}

.go-back {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  img {
    margin-right: 0.5rem;
  }
}

.user-container {
  border: 1px solid rgba(233, 234, 235, 1);
  border-radius: 12px;
  padding: 10px 12px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  font-family: var(--lato-regular);

  .ant-tabs-ink-bar {
    background-color: var(--color-primary);
  }
  .ant-tabs-tab {
    .ant-tabs-tab-btn {
      font-size: clamp(0.65rem, 1.5vw, 0.75rem);
      color: rgba(113, 118, 128, 1);
    }
    &:hover {
      color: var(--color-primary);
    }
    &.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: var(--color-primary);
        font-weight: 600;
      }
    }
  }
}

.table {
  box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
  border-radius: 12px;
  border: 1px solid #e9eaeb;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  display: block;

  .table-header {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    h3 {
      color: var(--color-primary);
      font-size: clamp(0.85rem, 1.5vw, 1rem);
      font-weight: 600;
    }
    p {
      color: rgba(140, 140, 140, 1);
      font-size: clamp(0.75rem, 1.5vw, 0.85rem);
      font-weight: 500;
    }
    .table-count {
      border-radius: 6px;
      background-color: var(--color-primary);
      color: var(--color-white);
      font-family: var(--manrope-regular);
      padding: 2px 8px;
      min-width: 6px;
    }
  }

  .table-body {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    text-align: left;

    thead {
      background-color: rgba(248, 247, 252, 1);
      color: rgba(140, 140, 140, 1);
      font-family: var(--lato-black);
      th {
        padding: 10px 25px;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba(233, 234, 235, 1);
        td {
          padding: 20px 25px;
          color: rgba(89, 89, 89, 1);
          font-size: clamp(0.75rem, 1.5vw, 0.85rem);
        }
      }

      .item-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        img {
          cursor: pointer;
        }
      }
    }
  }

  .table-footer {
    padding: 15px 25px;
  }
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.error-message {
  color: var(--color-toast-error);
  font-size: clamp(0.75rem, 1.5vw, 0.85rem);
  font-weight: 500;
  margin-top: 5px;
}

.page-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 var(--color-primary) inset;
  }
  100% {
    box-shadow: 48px 0 var(--color-primary) inset;
  }
}

/* antd override styles */
.ant-select-item-option {
  font-family: var(--lato-regular);
  font-size: clamp(0.75rem, 1.5vw, 0.85rem) !important;
}
.ant-select-item-option-selected {
  background-color: rgba(248, 247, 252, 1) !important;
}
.ant-picker-dropdown {
  font-family: var(--lato-regular);
  .ant-picker-cell-inner {
    &::before {
      border: 1px solid var(--color-primary) !important;
    }
  }
  .ant-picker-cell-selected {
    .ant-picker-cell-inner {
      background-color: var(--color-primary) !important;
    }
  }
  .ant-btn-variant-solid {
    background-color: var(--color-primary) !important;
    &:disabled {
      color: #fff;
    }
  }
}
/* .ant-popover-arrow {
  display: none !important;
} */
.ant-popover-inner {
  padding: 0 !important;
}
.ant-checkbox-wrapper {
  font-family: var(--lato-regular);
  .ant-checkbox {
    &:hover {
      .ant-checkbox-inner {
        border-color: var(--color-primary) !important;
      }
    }
    &.ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: var(--color-primary) !important;
      }
    }
  }
}

.ant-switch {
  &.ant-switch-checked {
    background-color: var(--color-primary) !important;
  }
}
