.auth-layout {
  width: 100vw;
  height: 100vh;
  display: flex;

  .auth-layout__form_container {
    width: 40%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: rgba(83, 88, 98, 1);
        font-size: clamp(0.75rem, 1.5vw, 0.85rem);
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        color: var(--color-white);
        font-size: clamp(0.75rem, 1.5vw, 0.85rem);
        width: 100px;
        height: 30px;
        border-radius: 10px;
      }
    }
    .children-container {
      margin: 0px 90px;
    }
  }

  .auth-layout__info {
    width: 60%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(35, 30, 84, 1);
    background-image: url('../../assets/images/auth-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 100px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: clamp(1.5rem, 3vw, 2.3rem);
      font-family: var(--lato-black);
      color: rgba(197, 216, 109, 1);
      text-align: center;
      line-height: 45px;
    }
    img {
      width: 80%;
      height: auto;
      margin-top: auto;
    }
  }
}
