.organisation-module {
  .customer-pills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 20px;
  }

  .customer-pill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    padding: 16px 24px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #231e54;
    height: 174px;

    img {
      width: 48px;
      height: 48px;
    }

    .state {
      color: #6b7280;
      font-size: 14px;
      font-weight: 400;
    }

    .amount {
      color: #111827;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
  }
}

.user-table {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .section-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: rgba(248, 247, 252, 1);
    padding: 15px 15px;

    .input-container {
      margin-top: 0px;
      width: 25%;
      border-radius: 8px;
      .ant-input-affix-wrapper {
        padding: 0 10px;
        border-color: rgba(213, 215, 218, 1);
        font-size: clamp(0.75rem, 1.5vw, 0.85rem);
        &:focus-within {
          box-shadow: 0 0 0 2px rgba(35, 30, 84, 0.1);
          border-color: rgba(213, 215, 218, 1);
        }
        &:hover {
          border-color: rgba(35, 30, 84, 0.1);
        }
      }
      input {
        margin-left: 5px;
        font-weight: 500;
        height: 35px;
        color: rgba(140, 140, 140, 1);
        &::placeholder {
          color: rgba(140, 140, 140, 1);
        }
      }
    }

    .click-actions {
      display: flex;
      align-items: center;
      gap: 10px;

      .btn-icon {
        background-color: var(--color-primary);
        color: rgba(255, 255, 255, 1);
        font-size: clamp(0.75rem, 1.5vw, 0.85rem);
        width: fit-content;
        height: 35px;
        border-radius: 8px;
        padding: 0 20px;
        font-family: var(--lato-black);

        &.filter {
          background-color: var(--color-white);
          color: var(--color-input);
          border: 1px solid rgba(217, 217, 217, 1);
          font-family: var(--lato-regular);
          font-weight: 600;
        }
      }
    }
  }

  .table {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 16px;
        text-align: left;
        border-bottom: 1px solid #f3f4f6;
      }

      th {
        font-weight: 600;
        color: #6b7280;
        font-size: 14px;
      }

      td {
        font-size: 14px;
        color: #111827;
      }

      tr:hover {
        background-color: #f9fafb;
      }
    }
  }

  .status-badge {
    font-size: clamp(0.75rem, 1.5vw, 0.85rem);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    padding: 3px 10px;
    border-radius: 4px;

    &.active {
      background: #cff9cd;
      color: #3fb85d;
    }

    &.inactive {
      background: #ffccc7;
      color: #ff4d4f;
    }
  }
}

.customer-name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.table-footer {
  padding: 16px;
  display: flex;
  justify-content: center;
}
